<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main</title>
</head>
<body>
    <h1>Hello API!</h1>
    <form action="/response" method="GET">
        <label>Wybierz dostępną stację kosmiczną, aby poznać jej załogę i lokację:</label>
        <br>
        <select name="satellite_name">
            <option value="ISS">ISS</option>
            <option value="TIANGONG">Tiangong</option>
            <option value="LANDSAT 9">Landsat 9</option>
            <option value="NOAA 19">Noaa 19</option>
            <option value="PROXIMA II">Proxima II</option>
        </select>
        <br>
        <input type="SUBMIT" value="Pokaż" formaction="/response">
    </form>
</body>
</html>