<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main</title>
</head>
<body>
    <h1>Hello API!</h1>
    <form action="/response" method="GET">
        <label>Wybierz dostępną stację kosmiczną, aby poznać jej załogę i lokację:</label>
        <br>
        <select name="satellite_name">
            <option value="ISS">ISS</option>
            <option value="LANDSAT 9">Tiangong</option>
            <option value="AISSAT 2">AISSAT 2</option>
            <option value="AISSAT 1">AISSAT 1</option>
            <option value="NOAA 19">Noaa 19</option>
            <option value="NOAA 18">Noaa 18</option>
            <option value="TIANGONG">Tiangong</option>
            <option value="ZHUHAI-1 02">ZHUHAI-1 02</option>
            <option value="PROXIMA II">Proxima II</option>
            <option value="PROXIMA I">Proxima I</option>
            <option value="SWISSCUBE">Swisscube</option>
        </select>
        <br>
        <input type="SUBMIT" value="Pokaż" formaction="/response">
    </form>
</body>
</html>